name: Build & publish release

on:
  workflow_dispatch:
  release:
    types: [created]
  push:
    tags:
      - "v*"
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      repository-projects: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          server-id: github 
          settings-path: ${{ github.workspace }} # location for the settings.xml file

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '9.1.0'

      - name: Build with Gradle
        run: gradle build

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          prerelease: false
          draft: false
          files: build/libs/GoldEconomy-*.jar

      - name: Upload to Modrinth
        run: gradle modrinth
        env:
          MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}

